.solution-cards {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  flex-wrap: wrap;
}
.card {
  height: 435px;
  width: 335px;
  border-radius: 24px;
  background: var(--serviceCard);
  margin: 0.5rem;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 1px solid red;
  background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
    background-clip: content-box; */
    border-radius: 20px;
}
.card-name {
  padding: 2rem;
  font-weight: bolder;
  font-size: 1.7rem;
  text-align: left;
  display: flex;
  font-family: Poppins, sans-serif
}
.card-image {
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  align-self: center;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.card-desc {
  padding: 0 1.5rem 1.5rem;
  font-weight: lighter;
  color: #828282;
  font-size: 16px;
  text-align: left;
  font-family: Poppins, sans-serif
}
