.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .slider-slide-animation {
    animation: none;
  }
  .slider-slide {
    flex-direction: column;
    align-items: center;
  }
  .footer-top-bx {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .footer-top-bx1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-left {
    display: flex;
    padding: 1rem;
    width: 100%;
  }
  .contact-left h2 {
    width: 100%;
  }
  .contact-left form {
    width: 100%;
  }
  .contact-right {
    width: 100%;
    padding: 0;
  }
  .blog-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .divider {
    display: block;
    width: 100%;
  }
  .solutions {
    width: 100%;
  }
  .service-box {
    width: 80%;
    height: 100%;
  }
  .getKnow-content {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin-top: 1rem;
    flex-direction: column;
  }
  .faq-quesions {
    padding: 1rem;
    border: 1px solid black;
    width: 87vw !important;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

  .devider {
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    flex-direction: column;
}
  .devider-box {
    /* flex-direction: column; */
    width: 77vw;
  }

  .dot-line {
    width: 30px;
  }
  .empty-box {
    display: none;
    width: 0px;
  }
  .vision-role {
    /* width: 45%; */
    width: 79%;
    flex-direction: column;
  }
  .main-cont {
    flex-direction: column;
  }

}
